<p>
  produce-upload works! does it tho...
</p>

<form (submit)=addNewOrder(veg.value,quantity.value)>
  <tr>
    <td>
      <!--<select required #veg>
        <option>-----Select-----</option>
        <option *ngFor="let v of vegStock; let i=index" value=i>{{v.name}} at £{{v.price}} per item</option>
      </select>-->
      <input placeholder="index" #veg>
    </td>
    <td>
      <input placeholder="Quantity" size="8" #quantity>
    </td>
    <td>
      <input type="submit" value="Add">
    </td>
  </tr>
</form>