<header>
  <h2>Produce-Upload</h2>
</header>

<header>
  <h3 align="center">You can upload your products here!</h3>
  <p>~~~Psst! We're running low on {{calcLowestStock()}} at the moment!~~~</p>
  <div align="center">
  <form (submit)="addNewOrder(veg.value,quantity.value)">
    <tr>
      <td>
        <select #veg>
          <option>-----Select-----</option>
          <option *ngFor="let v of vegStock; let i=index" value={{i}}>{{v.name}} at £{{v.price}} per item</option>
        </select>
      </td>
      <td>
        <input placeholder="Quantity" size="8" #quantity>
      </td>
      <td>
        <input type="submit" value="Add">
      </td>
    </tr>
  </form></div>
</header>