header {
    background-color:  rgb(221, 221, 221);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
    border-color: rgb(53, 47, 47);
    border-style: solid;
    border-width: 1px;
    }
    select {
        width: 150px;
        margin: 10px;
    }
    select:focus {
        min-width: 150px;
        width: auto;
    }   
    input[type=submit] {
        width: 8em;  height: 2em;
    }
    
    input {
        width: 400px;
        padding: 0 20px;
    }
    
    input,
    input::-webkit-input-placeholder {
        font-size: 20px;
        line-height: 1.9;
    }