<button>Logout</button>
<h1>Customer Details</h1>

<form (submit)= "addNewCustomer({customerId:0,address:address.value,cardNumber:cardNumber.value,cardType:cardType.value, cvc:cvc.value, expiryDate:expiryDate.value, name:name.value, email:email.value})">
  <tr>
      <td><input placeholder="Name" #name></td> 
      <td><input placeholder="Email" #email></td> 
      <td><input placeholder="Address" #address></td> 
      <td><input placeholder="Card Number" #cardNumber></td> 
      <td><input placeholder="Card Type" #cardType></td>
      <td><input placeholder="Expiry Date" #expiryDate></td>
      <td><input placeholder="Cvc" #cvc></td> 
      <td><input type ="submit" value="Add"></td> 
  </tr>
  </form>