<header>
<h2>Your Details</h2>
</header>
<header>
    <br>

    <table>

        <tr>
          <th>Name:</th>
          <td>
            {{customer.name}}
            <button (click)="editNameToggle()">Edit</button>
          </td>
      
          <td *ngIf="editName">
              <div class="form-group">
                <input>
                <button>Submit</button>
              </div>
          </td>
      
        </tr>
      
        
      
        <tr>
            <th>Address:</th>
            <td>
              {{customer.address}}
              <button (click)="editAddressToggle()">Edit</button>
            </td>
      
            <td *ngIf="editAddress">
                <div class="form-group">
                  <input>
                  <button>Submit</button>
                </div>
            </td>
        </tr>

        <tr>
            <th>Email:</th>
            <td>
              {{customer.email}}
              <button (click)="editEmailToggle()">Edit</button>
            </td>
      
            <td *ngIf="editEmail">
                <div class="form-group">
                  <input>
                  <button>Submit</button>
                </div>
            </td>
        </tr>

        <tr>
            <th>Password:</th>
            <td>
              {{customer.password}}
              <button (click)="editPasswordToggle()">Edit</button>
            </td>
      
            <td *ngIf="editPassword">
                <div class="form-group">
                  <input>
                  <button>Submit</button>
                </div>
            </td>
        </tr>

        <tr>
            <th>Card type:</th>
            <td>
              {{customer.cardType}}
              <button (click)="editCardTypeToggle()">Edit</button>
            </td>
      
            <td *ngIf="editCardType">
                <div class="form-group">
                  <input>
                  <button>Submit</button>
                </div>
            </td>
        </tr>
      
        <tr>
            <th>Card number:</th>
            <td>
                HIDDEN
              <button (click)="editCardNoToggle()">Edit</button>
            </td>
      
            <td *ngIf="editCardNo">
                <div class="form-group">
                  <input>
                  <button>Submit</button>
                </div>
            </td>
        </tr>

        <tr>
            <th>CVC code:</th>
            <td>
                HIDDEN
              <button (click)="editCVCToggle()">Edit</button>
            </td>
      
            <td *ngIf="editCvc">
                <div class="form-group">
                  <input>
                  <button>Submit</button>
                </div>
            </td>
        </tr>

        <tr>
            <th>Expiry:</th>
            <td>
                {{customer.expiryDate}}
              <button (click)="editExpiryToggle()">Edit</button>
            </td>
      
            <td *ngIf="editExpiry">
                <div class="form-group">
                  <input>
                  <button>Submit</button>
                </div>
            </td>
        </tr>
      
      </table>