header {
    background-color:  rgb(221, 221, 221);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
    border-color: rgb(53, 47, 47);
    border-style: solid;
    border-width: 1px;
    }