
<button>Logout</button> 
<img width="300" alt="fucking veg" src="./images/veg.jpg">
<h1>
  Products
</h1>
<table style="width:60%">
    <tr>
      <th>Vegtables</th>
      <th>Quantity</th> 
      <th>Price</th>
    </tr>
    <tr>
      <td>Potato</td>
      <td>pack of 5</td> 
      <td>£1</td>
    </tr>
    <tr>
      <td>Broccoli</td>
      <td>pack of 10</td> 
      <td>£100</td>
    </tr>
    <tr>
        <td>Broccoli</td>
        <td>pack of 10</td> 
        <td>£100</td>
      </tr>
      
  </table>

  <button><a href="http://www.paypal.com/signup">Check out</a></button>




