<button>Logout</button> 
<!DOCTYPE html>
<html lang="en">
<head>
<title>Select your Home Box</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>
  <div class="header">
    <h1>Straight In My Basket</h1>
    <p>Delivering Food since 2 days ago</p>
  </div>
  <p></p>
<div class="header">
  <h1>Select your Home Box</h1>
  <h3>Choose how you’d like to reduce food waste and help our local growers by selecting one of our delicious seasonal produce boxes below.</h3>
</div>


<div class="row">
  <div class="column">
    <h2>Small Veg Box</h2>
    <p>Ideal for:</p>
    <p>Individuals or couples</p>
    <p>Your box is packed with 6-7 varieties of local & seasonal vegetables and can serve up to 4 meals.</p>
    <p>£8.99 per box </p>
    <p>Select your delivery schedule:</p>
    <img src="./images/Small-Veg-Box+.jpg" alt="My test image">
    <p></p>
    <button>Buy Weekly</button>
    <p></p>
    <button>Buy Fortn'ly</button>
  </div>
  
  <div class="column">
    <h2>Medium Veg Box</h2>
    <p>Ideal for:</p>
    <p>A small family of 3</p>
    <p>Your box is packed with 7-8 varieties of local & seasonal vegetables and can serve up to 4 meals</p>
    <p>£10.99 per box</p>
    <p>Select your delivery schedule:</p>
    <img src="./images/Medium-Veg-Box.jpg" alt="My test image">
    <p></p>
    <button>Buy Weekly</button>
    <p></p>
    <button>Buy Fortn'ly</button>
  </div>>
  
  <div class="column">
    <h2>Large Veg Box</h2>
    <p>Ideal for:</p>
    <p>A large family of 4 or 5</p>
    <p>Your box is packed with 8-9 varieties of local & seasonal vegetables and can serve up to 4 meals.</p>
    <p>£13.25 per box</p>
    <p>Select your delivery schedule:</p>
    <img src="./images/Large-Veg-Box+.jpg" alt="My test image">
    <p></p>
    <button>Buy Weekly</button>
        <p></p>
    <button>Buy Fortn'ly</button>
  </div>
</div>

</body>
</html>
