<h3>
    Welcome to Straight in my Basket for customers!
  </h3>
  
  <form>
      <tr>
        <td><input placeholder="Username"></td>
      </tr>
      
      <tr>
          <td><input placeholder="Password"></td>
      </tr>
      <tr>
          <td><input type="submit" value="Login"></td>
      </tr>
  </form>
  
  <br>
  <br>
  
  OR
  
  <br>
  <br>
  
  <form>
      <tr>
        <td><input placeholder="Name"></td>
      </tr>
      <tr>
          <td><input placeholder="Username"></td>
        </tr>
      <tr>
          <td><input placeholder="Address"></td>
      </tr>
      <tr>
          <td><input placeholder="Account Number"></td>
      </tr>
      <tr>
          <td><input placeholder="Sort Code"></td>
      </tr>
      <tr>
          <td><input placeholder="Password"></td>
      </tr>
      <tr>
          <td><input type="submit" value="Register"></td>
      </tr>
  </form>  