<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


<h1>Straight In My Basket</h1>

<div class="topnav">
    <a routerLink="/">Home</a>
    <a routerLink="/products">Products</a>
    <a routerLink="/order">Orders</a>
    <a routerLink="/customeraccount">Customer Account</a>
    <a routerLink="/farmerlogin">Farmer Login</a>
    <a routerLink="/produceupload">Produce Upload</a>
    <a routerLink="/farmeraccount">Farmer Account</a>
    <a routerLink="/farmerhome">Farmer Home</a>
  </div>

</div>

<router-outlet></router-outlet>
