<div style="text-align:center">
<div class="topnav">
   <!--  <img src="/assets/logo2.png" alt="Straight In My Basket" ALIGN=”left” style="width:90px;height:60px;">
    <a routerLink="/">Home</a>
    <a routerLink="/products">Products</a>
    <a routerLink="/order">Orders</a>
    <a routerLink="/customeraccount">Customer Account</a>
    <a routerLink="/customerlogin">Customer Login</a>
    <a routerLink="/farmerlogin">Farmer Login</a>
    <a routerLink="/farmerhome">Farmer Home</a>
    <a routerLink="/produceupload">Produce Upload</a>
    <a routerLink="/farmeraccount">Farmer Account</a>   
    <a routerLink="/contactus">Contact Us</a>   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

    <a href="#" class="fa fa-facebook"style="width:20px;height:10px;"></a>
    <a href="#" class="fa fa-twitter"style="width:20px;height:10px;"></a>
    <a href="#" class="fa fa-linkedin"style="width:20px;height:10px;"></a>
    <a href="/termsandconditions" class="right">Terms and Conditions</a>
    <a href="/help" class="right">Help</a>
    <a href="/findus" class="right">Find Us</a>

  </div>

</div>

<body>
  <div class="logo">
    <span style="display:inline-block; width:33%"><img src="/assets/logo.png" alt="Straight In My Basket" ></span>
    <span style="display:inline-block; width:33%; text-align: center"><h1>Straight in my Basket</h1></span>
    <span style="display:inline-block; width:33%"><img src="/assets/logo.png" alt="Straight In My Basket" class="right"></span>
  </div>
<router-outlet></router-outlet>

<footer>Copyright Of Straight In My Basket Ltd - 2019</footer>