<div style="text-align:center">
<div class="topnav">
    <img src="/assets/logo2.png" alt="Straight In My Basket" ALIGN=”left” style="width:90px;height:60px;">
    <a routerLink="/">Home</a>
    <a routerLink="/products">Products</a>
    <a routerLink="/order">Orders</a>
    <!-- <a routerLink="/customeraccount">Customer Account</a> -->
    <a routerLink="/customerlogin">Customer Login</a>
    <a routerLink="/farmerlogin">Farmer Login</a>
    <a routerLink="/farmerhome">Farmer Home</a>
    <a routerLink="/produceupload">Produce Upload</a>
    <a routerLink="/farmeraccount">Farmer Account</a>   
    <a routerLink="/contactus">Contact Us</a>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

    <a href="https://facebook.com/" target="_blank" class="fa fa-facebook"style="width:20px;height:10px;"></a>
    <a href="https://twitter.com/" target="_blank" class="fa fa-twitter"style="width:20px;height:10px;"></a>
    <a href="http://linkedin.com/" target="_blank" class="fa fa-linkedin"style="width:20px;height:10px;"></a>

  </div>
</div>

<body>
  
  <div class="logo">
    <span style="display:inline-block"><img src="/assets/logo.png" alt="Straight In My Basket" ></span>
    <span style="display:inline-block;  text-align: center"><h1>Straight in my Basket</h1></span>
    <span style="display:inline-block"><img src="/assets/logo.png" alt="Straight In My Basket" class="right"></span>
  </div>
  <body>
<div class="topnav">
  <a href="/termsandconditions">Terms and Conditions</a>
  <a href="/help">Help</a>
  <a href="/findus">Find Us</a>    
</div>
<router-outlet></router-outlet>

<footer>Copyright Of Straight In My Basket Ltd - 2019. Find us at - Watson Burton Llp, 1 City Square, Leeds LS1 2ES</footer>